* {
    scroll-behavior: smooth;
    box-sizing: border-box;
    transition: all .1s ease-in;
}

body {
    background-color: #3399CC;
    border: 25px solid #2B81AC;
    min-height: 100vh;

}

.container {
    display: block;
    max-width: 1170px;
    align-items: center;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
}

h1 {
    display: block;
    align-items: center;
    margin-top: 61px;
    margin-bottom: 42px;
    color: #FFFF;
    size: 21px;
}

.wi wi-sunrise {
    padding: auto;

}

ul {
    max-width: 1170px;
    height: 592px;
    color: #FFFF;
    font-size: 0;
    margin-bottom: 43px;
    border: 2px solid #FFFF;
    ;
}

ul li {
    display: inline-block;
    font-size: 24px;
    height: 147px;
    text-align: center;
    padding-top: 31px;
    padding-bottom: 35px;
    cursor: url("../img/cursor.png"), pointer;
}

.color-70B8DB {
    background-color: #70B8DB;
}

.color-33CCCC {
    background-color: #33CCCC;
}

.color-996699 {
    background-color: #996699;
}

.color-C24747 {
    background-color: #C24747;
}

.color-E2674A {
    background-color: #E2674A;
}

.color-FFCC66 {
    background-color: #FFCC66;
}

.color-99CC99 {
    background-color: #99CC99;
}

.color-669999 {
    background-color: #669999;
}

.color-CC6699 {
    background-color: #CC6699;
}

.color-339966 {
    background-color: #339966;
}

.color-666699 {
    background-color: #666699;
}

#city1,
#city9 {
    width: 50%;
    border-right: 2px solid #FFFF;
    border-bottom: 2px solid #FFFF;
}

#city2,
#city4,
#city5,
#city6,
#city8 {
    width: 25%;
    border-right: 2px solid #FFFF;
    border-bottom: 2px solid #FFFF;
}

#city3,
#city7,
#city10 {
    width: 25%;
    border-bottom: 2px solid #FFFF;
}

#city11 {
    width: 100%;
}


.info {
    display: block;
    opacity: 70%;
    justify-content: center;
}

h1 .wi {
    font-size: 27px;
}

.wi {
    margin-top: 10px;
    margin-left: 8px;
    font-size: 42px;
}

.wishes {
    margin-bottom: 43px;
    font-size: 16px;
    color: #FFFF;
}

ul:hover li {
    opacity: 0.5;
}

li:hover {
    opacity: 1 !important;
}